@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
  ViewBag.Title = "Create";
}

<h3 class="text-nowrap m-3 prod-header text-sm-center">Create Cast Member</h3>
<div class="prod-form-div">
  @using (Html.BeginForm("Create", "CastMembers", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal prod-form">

      @Html.ValidationSummary(true, "", new { @class = "text-danger" })
      <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "prod-form-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control prod-input", @placeholder = "Enter Name" } })
          @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.YearJoined, htmlAttributes: new { @class = "control-label  col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.YearJoined, new { htmlAttributes = new { @class = "form-control prod-input", @placeholder = "Enter Year Joined" } })
          @Html.ValidationMessageFor(model => model.YearJoined, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.MainRole, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EnumDropDownListFor(model => model.MainRole, htmlAttributes: new { @class = "form-control prod-input", @placeholder = "Enter Role" })
          @Html.ValidationMessageFor(model => model.MainRole, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control prod-input", @placeholder = "Enter Bio" } })
          @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CurrentMember, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          <div class="checkbox">
            @Html.EditorFor(model => model.CurrentMember)
            @Html.ValidationMessageFor(model => model.CurrentMember, "", new { @class = "text-danger" })
          </div>
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Character, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.Character, new { htmlAttributes = new { @class = "form-control prod-input", @placeholder = "Enter Character Name" } })
          @Html.ValidationMessageFor(model => model.Character, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.CastYearLeft, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.CastYearLeft, new { htmlAttributes = new { @class = "form-control prod-input", @placeholder = "Enter Year Left" } })
          @Html.ValidationMessageFor(model => model.CastYearLeft, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.DebutYear, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
          @Html.EditorFor(model => model.DebutYear, new { htmlAttributes = new { @class = " form-control prod-input", @placeholder = "Enter Debut Year" } })
          @Html.ValidationMessageFor(model => model.DebutYear, "", new { @class = "text-danger" })
        </div>
      </div>

      <div class="form-group">
        @Html.LabelFor(model => model.Photo, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-offset-2 col-md-10 mb-4">
          <input type="file" name="File" id="file" required onchange="readURL(this);" />
        </div>
        <!--Photo Display-->
        <div class=" col-md-10 text-center">
          <img id="preview" src="#" alt="Image Preview" class="img-thumbnail bg-dark" />
        </div>
      </div>

      <!--Buttons-->
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-center">
          <input type="submit" value="Create" class="btn prod-btn m-auto btn-block" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-center">
          @Html.ActionLink("Back to List", "Index", null, new { @class = "btn prod-btn-danger btn-block " })
        </div>
      </div>
    </div>

  }

</div>




@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}
