@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CastMember</h4>
    <hr />
    <dl class="dl-horizontal">
      @Html.HiddenFor(model => model.CastMemberID)
      @Html.HiddenFor(model => model.Photo)
      <dt>
        @Html.DisplayNameFor(model => model.Name)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.YearJoined)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.YearJoined)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.MainRole)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.MainRole)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Bio)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Bio)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.CurrentMember)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.CurrentMember)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Character)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Character)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.CastYearLeft)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.CastYearLeft)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.DebutYear)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.DebutYear)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Photo)
      </dt>

      <!--Photo Display-->
      <div class="col-md-10 text-left">
        <img id="preview" src="/CastMembers/GetImage/@Model.CastMemberID" alt="Image Preview" class="img-thumbnail bg-dark" />
      </div>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> 
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
