@model TheatreCMS3.Areas.Prod.Models.CastMember

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CastMember</h4>
    <hr />
    <dl class="dl-horizontal">
      @Html.HiddenFor(model => model.CastMemberID)
      @Html.HiddenFor(model => model.Photo)
      <dt>
        @Html.DisplayNameFor(model => model.Name)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Name)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.YearJoined)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.YearJoined)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.MainRole)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.MainRole)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Bio)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Bio)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.CurrentMember)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.CurrentMember)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Character)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.Character)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.CastYearLeft)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.CastYearLeft)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.DebutYear)
      </dt>

      <dd>
        @Html.DisplayFor(model => model.DebutYear)
      </dd>

      <dt>
        @Html.DisplayNameFor(model => model.Photo)
      </dt>

      <div class="col-md-10 text-left">
        <img id="preview" src="/CastMembers/GetImage/@Model.CastMemberID" alt="Image Preview" class="img-thumbnail bg-dark" />
      </div>
    </dl>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CastMemberID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
