@model TheatreCMS3.Areas.Prod.Models.ProductionPhoto

@{
    ViewBag.Title = "Photo Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Photo Details</h2>

<div>
    <div class="form-group">@Html.DisplayFor(model => model.Title)</div>
    <div class="align-content-center">
        <img alt="@Model.Title" src="/ProductionPhotos/GetImage/@Model.ProPhotoId" />
    </div>
    <div class="form-group">@Html.DisplayFor(model => model.Description)</div>

    <div class="form-group">
        <a href="@Url.Action("Index")" class="btn btn-secondary btn-block">Back To List</a>
    </div>

    <div class="form-group">
        <a href="@Url.Action("Delete", new { id = Model.ProPhotoId })" class="btn btn-danger btn-block"><i class="fas fa-trash"></i> Delete Photo</a>
    </div>
</div>